.Transform{
    width: 100%;
    height: 1050px;
    /* border: 2px solid black; */
    padding: 70px;
    display: grid;
    gap: 60px;
}
.transform-text{
    width: 100%;
    height: 266px;
    /* border: 2px solid black; */
    display: grid;
    padding-left: 50px;
}
.transform-text h1{
    font-size: 48px;
    color: #333461;
}
.transform-text p{
    font-size: 20px;
    color: #4A556CB2;
    line-height: 30px;
}
.transform-img{
    width: 100%;
    height: 560px;
    /* border: 2px solid black; */
    padding: 30px;
    display: flex;
    gap: 150px;
}
.transform-img-text{
    width: 560px;
    height: 500px;
    /* border: 2px solid black; */
    display: grid;
    gap: 40px;
}
.trans-card{
    width: 560px;
    height: 88px;
    /* border: 2px solid black ; */
    display: flex;
    align-items: center;
}
.lorem{
    margin-left: 20px;
}
.lorem h2{
    color: #333461;
    line-height: 40px;
}
.lorem p{
    color: #667085;
    line-height: 25px;
}